
aut_vincere_2014_trimmeddat.csv

aut_vincere_2015_trimmeddat.csv

aut_vincere_2016_trimmeddat.csv

__pycache__/aut_vinc_bballCrawler.cpython-35.pyc

aut_vincere_multiyear_trimmeddat.csv

aut_vincere_2013_trimmeddat.csv
